body {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vdh;
    width: 500px;
    margin: 100px auto;
}

p {
    font-family: 'Helvetica', 'sans-serif';
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;

    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #f0f0f0;
}